header {
    position: absolute;
    top: 0px;
    left: 0px; 
    right: 0px;
    height: 200px;
    background-color: dimgray;
}

    header h1 {
        font-size: 70px;
        color:peachpuff;
    }